body{
	background: #232323;
	margin: 0;
	font-family: 'Montserrat', sans-serif; 
}
.square{
	width: 30%;
	background: purple;
	padding-bottom:30%;
	float: left;
	margin:1.66%;
	border-radius: 15%; /*rounded squares*/
	transition: background 0.6s;/*only on background property*/
	-webkit-transition:background 0.6s;
	-moz-transition:background 0.6s;
}
#container{
	margin:20px auto;
	max-width: 600px;

}
h1{
	color: white;
	line-height: 1.1;
	font-weight: normal;
	text-align: center;
	background: steelblue;
	margin: 0;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom:20px;
}
#colorDisplay{
	font-size: 200%;
}
#stripe{
	background: white;
	height:30px;
	text-align: center;
	color: black;
	text-transform: uppercase;
}
.selected{
	color: white;
	background: steelblue;
}
button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.4s;
	/*apply transition property to all action on button*/
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	outline: none;
}
/*to add space in between new color and east button*/
#message{
	display: inline-block;
	width: 20%;
}
.footer{
	position: fixed;
	width: 100%;
	color: white;
	background: steelblue;
	left: 0;
	bottom: 0;
	text-align: center;
	padding: 7px 0;
	font-weight: 700;
}
button:hover{
	color: white;
	background: steelblue;
}